<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="icon" type="image/png" href="https://bitcoin.review/assets/images/bitcoin.review.icon.png" />
<meta property="og:title" content="Bitcoin Bounties" />
<meta property="og:description" content="High-signal #Bitcoin Information" />
<meta name="description" content="High-signal #Bitcoin Information" />
<meta property="og:url" content="https://bitcoin.bounties/" />
<meta property="og:site_name" content="Bitcoin Bounties" />
<meta property="og:image" content="https://bitcoin.review/assets/images/social-media.png" />
