{% comment %} ALL CHANGES TO THIS LAYOUT MUST BE REFLECTED IN infinite.js {% endcomment %}
<li>
  {%- if post.link -%}
    <a href="{{ post.link }}" target="_blank" rel="noopener noreferrer" class="post">
  {%- else -%}
    <a href="{{ post.url | relative_url }}" class="post">
  {%- endif -%}
    <h3><span>{{ post.title | escape }}</span></h3>
    <span class="value">
      {% if post.currency == "USD" %}
        <img src="/assets/images/dollar.png" alt="USD" />
        $<span class="price-value">{{post.value}}</span>&nbsp;{{ post.currency }}
      {% else %}
        <img src="/assets/images/bitcoin-logo-orange.png" alt="Bitcoin" />
        <span class="price-value">{{post.value}}</span>&nbsp;{{ post.currency }}
      {% endif %}
    </span>
    <span class="status">{{ post.status }}</span>
    <span class="author">{{ post.author }}</span>
    <span class="date">{{ post.date | date: date_format }}</span>
  </a>
</li>
