---
layout: default
---

<div class="page post">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="post-header">
            <span class="new-tag">New</span>
            <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
            <div class="post-meta">
              <p class="value">
                {% if page.currency == "USD" %}
                  <img src="/assets/images/dollar.png" alt="USD" />
                  ${{ page.value | number_with_delimiter }} {{ page.currency }}
                {% else %}
                  <img src="/assets/images/bitcoin-logo-orange.png" alt="Bitcoin" />
                  {{ page.value | number_with_delimiter }} {{ page.currency }}
                {% endif %}
              </p>
              <ul class="social">
                {% assign url_placeholder = "<url>" %}
                {% assign text_placeholder = "<title>" %}
                {% assign twitter_placeholder = "<twitter>" %}
                {% assign page_url = "https://btcbounties.com" | append: page.url | uri_escape %}
                {% for button in site.data.social-buttons %}
                  {% assign button_url = button.url
                    | replace: text_placeholder, page.title
                    | replace: url_placeholder, page_url
                    | replace: twitter_placeholder, site.twitter_username
                    | uri_escape
                  %}
                  <li>
                    <a href="{{ button_url }}" target="_blank" class="js-social-buttons">
                      <img src="/assets/images/{{ button.svg }}" alt="{{ button.title }}" title="{{ button.title }}" />
                    </a>
                  </li>
                {% endfor %}
              </ul>
              <button type="button" class="btn btn-link share-link">Share Link</button>
            </div>

            <div class="post-meta-author">
              <p class="author-date">
                {%- if page.author -%}
                  {% for author in page.author %}
                    <strong>Author:</strong>
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                      <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
                      {%- if forloop.last == false %}, {% endif -%}
                  {% endfor %}
                •
                {%- endif -%}
                {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
                <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                  {{ page.date | date: date_format }}
                </time>
              </p>
            </div>
          </header>

          {%- if page.image -%}
            <div class="featured-image">
              <img src="{{ page.image }}" alt="{{ page.title }}" />
            </div>
          {%- endif -%}

          <div class="post-content e-content" itemprop="articleBody">
            {%- if page.link -%}
              <div class="archive-link">
                <a href="{{ page.link }}">Read the original article</a> or <a href="https://web.archive.org/web/*/{{ page.link }}">read it on archive.org</a>.
              </div>
            {%- endif -%}
            {{ content }}
          </div>

          {%- if site.disqus.shortname -%}
            {%- include disqus_comments.html -%}
          {%- endif -%}

          <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        </article>

        <div class="submit-cta">
          <h4>Interested in this Bounty?</h4>
          <button type="button" class="btn btn-primary">
            Apply
        </div>
      </div>
    </div>
  </div>
</div>
